.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  color: #999999;


  &__input {
    border: none;
    outline: none;
    border-bottom: 1px solid #7318AB;
  }
}
