.aside {
  height: auto;
  width: 56px;
  padding: 40px 12px;
  background: #7318AB;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    heiht: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    margin-bottom: 8px;
  }

  &__list-btn {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: transparent;

    &--active {
      background: rgba(28, 20, 31, 0.2);
    }
  }
}
