.chat {
  &__message {
    border: 1px solid #EAEAEA;
   font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    align-self: flex-start;
    color: #1E1E1E;
    background: #ffffff;
    padding: 16px 16px 30px;
    border-radius: 12px;
    position: relative;
    max-width: 410px;
    margin-bottom: 40px;

    &--self {
      background: rgba(115, 24, 171, 0.1);

      align-self: flex-end;
    }
  }

  &__message-time {
    position: absolute;
    right: 16px;
    bottom: 16px;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    text-align: right;
    color: #999999;
  }

}
