body {
  font-family: Inter;
  font-style: normal;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  font-family: Inter;
  font-style: normal;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    transition: 0.2s;
    opacity: 0.7;
  }
}
